<div class='container'>
<%= image_tag @activity.photo.url(:large) %>
<h1><%= @activity.name %></h1>
<h3><%= @activity.address %></h3>
<h3><%= @activity.city %>, <%= @activity.state %></h3>
<h3><%= @activity.zip_code %></h3>
<p><%= @activity.description %><p>

<%= link_to "Add a Review", new_activity_review_path(@activity.id) %><br />
<hr>
<% @reviews.each do |r|%>
<div class='row'>
  <div class='col l2'>
  <%= image_tag r.user.photo.url(:thumb) %>
  </div>
  <div class='col l6'>
  <h5>
    <%= r.user.user_name %>
    <% r.rating.times do %>
    <i class='material-icons'>stars</i>
    <% end %>
  </h5>
  <p>
    <%= r.body %>
  </p>
</div>
</div>
<% end %>

</div>
